.counter
  grid-area: counter
  text-align: center
  background-color: #00AA8D
  color: white
  .plus, .minus
    font-size: 20px
    font-weight: bold
    cursor: pointer
    margin: 5px

  .number
    display: inline
    font-size: 25px